<li>
  <%= link_to trip.name, trip %>
  <% if @search %>
  - trip
  <% end %>
  <% if ((current_user && current_user.admin) || !@search) && !@trips_list %>
  | <%= link_to "delete", trip,  :method => :delete,
                                :confirm => "You sure?",
                                :title => "Delete #{trip.name}" %>
  <% end %>
  <% if trip.user==current_user && !trip.public && !@search && !@trips_list %>
  | <%= link_to "edit", edit_trip_path(trip) %>
  <% end %>
</li>

