<h1>Traceroutes#delete</h1>
<p>Find me in app/views/traceroutes/delete.html.erb</p>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="traceroute delete">
  <h2>Delete Traceroute</h2>

  <%= form_for(:traceroute, :url => {:action => 'destroy', :id => @traceroute.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this traceroute?</p>

    <p class="reference-name"><h4><%= @traceroute.name + ': ' + truncate(@traceroute.description, :length => 10) %></h4></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Traceroute") %>
    </div>

  <% end %>
</div>