.container {
  width: 800px;
  clear: both;
}

#content {
}

body {
  background: #dff;
}

header {
  padding: 20px 0px;
}

header img {
  padding: 10px;
  background: #fff;
}

section {
  font-size: 120%;
  padding: 10px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

#description {
  text-align:justify;
}

#trip_description {
  width: 90%;
  height: 100px;
}

/* Map */
#map {
  float: right;
  display: block;
  margin-left: 15px;
}

.big {
  height: 400px;
  width: 500px;
}

.small {
  height: 300px;
  width: 350px;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

header nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0px 5px;
  white-space: nowrap;
}

nav.menu {
  margin: 20px 0px;
  font-size: 180%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  padding: 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Error messages */

.field_with_errors input{
	background-color:#fbe3e4;
	color:#8a1f11;
	border-color:#fbc2c4;
}

ul.list {
  margin-top: 1em;
}

.list li {
  list-style: none;
}


