
.image_cache_container
{
visibility: hidden;
position: absolute;
height: 1px;
width: 1px;
overflow: hidden;
}
html, head, body, div, span,
p, h1, h2, h3, h4, h5, h6, strong, em, abbr, acronym, address, bdo, blockquote, cite, q, code, ins, del, dfn, kbd, pre, samp, var, br,
a, base,
img, area, map, object, param,
ul, ol, li, dl, dt, dd,
table, tr, td, th, tbody, thead, tfoot, col, colgroup, caption,
form,  label, fieldset, legend,
b, i, tt, sub, sup, big, small, hr
{
margin: 0;
padding: 0;
}
input, textarea, select, option, optgroup, button {
margin: 0;
}
html {
border: none;
height: 100%;
}
body {
font: 75% Helvetica, Arial, sans-serif;
color: #2C2C2C;
height: 100%;
}
img {
vertical-align: middle;
border: none;
//margin: -1px 0 0 0;
}
input,
select,
textarea {
vertical-align: middle;
font: 100% 'Trebuchet MS', Verdana, Arial;
color: #333;
}
input.empty,
select.empty,
textarea.empty {
color: #999;
}
table {
border-collapse: collapse;
empty-cells: show;
}
table td {
vertical-align: top;
}
a:link, a:visited, a:hover, a:active  {
color: #1956A2;
}
a:hover {
text-decoration: none;
}
* html .png {
behavior: url(/lib/png.htc);
}
.clear {
clear: both;
height: 0;
}
.full {
width: 100%;
}
.absolute {
position: absolute;
}
.relative {
position: relative;
}
.hidden {
display: none !important;
}
.error {
color: #A00;
}
h1 {
font: 300% 'Trebuchet MS', Verdana, Arial;
font-weight: bold;
}
h2 {
font-size: 134%;
}
h3 {
font-size: 117%;
}
h4 {
font-size: 117%;
color: #999;
font-weight: normal;
}
h5 {
font-size: 92%;
}
h6 {
font-size: 84%;
}
.lt, .rt, .rb, .lb {
background-repeat: no-repeat;
}
.lt {
background-position: left top;
}
.rt {
background-position: right top;
}
.rb {
background-position: right bottom;
}
.lb {
background-position: left bottom;
}
.invitation_promo {
padding-bottom: 10px;
}
.invitation_promo_1 {
padding-bottom: 10px;
}
body.page-promo {
background: #E4EBF1;
}
.content {
min-height: 100%;
}
* html .content {
height: 100%;
}
.content_wrapper_wide,
.content_wrapper {
width: 994px;
margin: 0 auto;
}
.page-promo .content_background {
min-width: 994px;
overflow: hidden;
}
.content_background {
background: #fff;
}
.content_wrapper {
width: 826px;
padding-top: 20px;
}
.center {
text-align: center;
}
.clearInner {
width: 100%;
overflow: hidden;
}
.grid-960 {
width: 980px;
padding-left: 14px;
overflow: hidden;
}
.grid-960 .grid-col {
width: 305px;
margin-left: 15px;
float: left;
}
* html .grid-960 .grid-col {
margin-left: expression(previousSibling ? '15px' : '7px');
}
.columns {
width: 100%;
overflow: hidden;
}
.columns .col-1 {
float: left;
width: 540px;
}
.columns .col-2 {
float: right;
width: 266px;
}
.columns .col-1_2 {
float: left;
width: 440px;
}
.columns .col-2_2 {
float: right;
width: 365px;
}
.columns .col-1_2_new {
float: left;
width: 550px;
}
.columns .col-2_2_new {
float: right;
width: 335px;
}
.columns .col-33p {
width: 33%;
float: left;
}
.columns .col-3_1 {
width: 280px;
float: left;
}
.columns .col-3_2 {
width: 521px;
float: right;
}
.columns .col-4_1 {
width: 225px;
float: left;
}
.columns .col-4_2 {
width: 492px;
float: right;
}
.box {
position: relative;
border: 1px solid;
margin-bottom: 20px;
}
* html .box {
display: inline-block;
}
.box .c-lt, .box .c-rt, .box .c-rb, .box .c-lb {
position: absolute;
width: 17px;
height: 17px;
background: url(/img/v3/corners.png) left top no-repeat;
}
.box .c-lt { left: -1px; top: -1px; }
.box .c-rt { right: -1px; top: -1px; }
.box .c-rb { right: -1px; bottom: -1px; }
.box .c-lb { left: -1px; bottom: -1px; }
* html .box .c-lb { bottom: -2px; }
* html .box .c-rb { bottom: -2px; }
.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8, .box_8_white, .box_8_white_outter, .box_14 {
border: 1px solid #E9E9E9;
}
.box_13 { background: #F6F6F6; border: 0; }
.box_13 .c-lt-13 { background-position:   0px -170px; left: 0; top: 0; }
.box_13 .c-rt-13 { background-position: -17px -170px; right: 0; top: 0; }
.box_13 .c-lb-13 { background-position: -34px -170px; left: 0; bottom: 0; }
.box_13 .c-rb-13 { background-position: -51px -170px; right: 0; bottom: 0; }
.box_5 { background: #FFFFFF; }
.box .box_14 .c-lt, .box .box_5 .c-lt, .box_5 .c-lt { background-position:   0px -68px; }
.box .box_14 .c-rt, .box .box_5 .c-rt, .box_5 .c-rt { background-position: -17px -68px; }
.box .box_14 .c-lb, .box .box_5 .c-lb, .box_5 .c-lb { background-position: -34px -68px; }
.box .box_14 .c-rb, .box .box_5 .c-rb, .box_5 .c-rb { background-position: -51px -68px; }
.box_1 { background: #F6F6F6; }
.box_1 .c-lt { background-position:   0px 0px; }
.box_1 .c-rt { background-position: -17px 0px; }
.box_1 .c-lb { background-position: -34px 0px; }
.box_1 .c-rb { background-position: -51px 0px; }
.box_2 { background: #F4FBF1; }
.box_2 .c-lt { background-position:   0px -17px; }
.box_2 .c-rt { background-position: -17px -17px; }
.box_2 .c-lb { background-position: -34px -17px; }
.box_2 .c-rb { background-position: -51px -17px; }
.box_4 { background: #FAFAFA; }
.box_4 .c-lt { background-position:   0px -51px; }
.box_4 .c-rt { background-position: -17px -51px; }
.box_4 .c-lb { background-position: -34px -51px; }
.box_4 .c-rb { background-position: -51px -51px; }
.box_3 { background: #FFFDEC; }
.box_3 .c-lt { background-position:   0px -34px; }
.box_3 .c-rt { background-position: -17px -34px; }
.box_3 .c-lb { background-position: -34px -34px; }
.box_3 .c-rb { background-position: -51px -34px; }
.box_6 { background: #FFFDEC; border-top-color: #FDF0CC; }
.box_6 .c-lt { background-position:   0px -85px; }
.box_6 .c-rt { background-position: -17px -85px; }
.box_6 .c-lb { background-position: -34px -34px; }
.box_6 .c-rb { background-position: -51px -34px; }
.box_7 { background: #FFFDEC; }
.box_7 .c-lt { background-position:   0px -102px; }
.box_7 .c-rt { background-position: -17px -102px; }
.box_7 .c-lb { background-position: -34px -102px; }
.box_7 .c-rb { background-position: -51px -102px; }
.box_8 { background: #FFFDEC; }
.box_8 .c-lt { background-position:   0px -119px; }
.box_8 .c-rt { background-position: -17px -119px; }
.box_8 .c-lb { background-position: -34px -119px; }
.box_8 .c-rb { background-position: -51px -119px; }
.box_8_white { background: #FFF; }
.box_8_white .c-lt { background-position:   0px -136px; }
.box_8_white .c-rt { background-position: -17px -136px; }
.box_8_white .c-lb { background-position: -34px -136px; }
.box_8_white .c-rb { background-position: -51px -136px; }
* html .box_8_white .c-lt { overflow: hidden; }
* html .box_8_white .c-rt { right: -2px; overflow: hidden; }
* html .box_8_white .c-rb { right: -2px; }
.box_8_white_outter { background: #FFF; border-top: 0; margin-top: -1px; }
.box_8_white_outter .c-rt { background-position: -34px -153px; right: -17px; top: 0; }
.box_8_white_outter .c-lb { background-position: 0px -153px; }
.box_8_white_outter .c-rb { background-position: -17px -153px; }
.box_8_white_outter .wrapper-bottom { background: #4294CF; }
* html .box_8_white_outter .c-rt { right: -18px; }
* html .box_8_white_outter .c-rb { right: -2px; }
.box_9, .box_10, .box_11, .box_12 {
border: 0;
margin: 0;
}
.box_9 .c-lt, .box_9 .c-rt, .box_9 .c-rb, .box_9 .c-lb,
.box_9 .c-lt, .box_10 .c-rt, .box_10 .c-rb, .box_10 .c-lb,
.box_11 .c-lt, .box_11 .c-rt, .box_11 .c-rb, .box_11 .c-lb,
.box_12 .c-lt, .box_12 .c-rt, .box_12 .c-rb, .box_12 .c-lb {
background: url(/img/v3/corners_promo.gif) left top no-repeat;
width: 10px;
height: 10px;
}
.box_11 .c-lt, .box_11 .c-rt, .box_11 .c-rb, .box_11 .c-lb {
width: 5px;
height: 5px;
}
.box_9 .c-lt, .box_10 .c-lt, .box_11 .c-lt, .box_12 .c-lt { left: 0px; top: 0px; }
.box_9 .c-rt, .box_10 .c-rt, .box_11 .c-rt, .box_12 .c-rt { right: 0px; top: 0px; }
.box_9 .c-rb, .box_10 .c-rb, .box_11 .c-rb, .box_12 .c-rb { right: 0px; bottom: 0px; }
.box_9 .c-lb, .box_10 .c-lb, .box_11 .c-lb, .box_12 .c-lb { left: 0px; bottom: 0px; }
.box_9 .c-rt { background-position: -10px top; }
.box_9 .c-lb { background-position: -20px top; }
.box_9 .c-rb { background-position: -30px top; }
.box_10 .c-lt { background-position: -40px top; }
.box_10 .c-rt { background-position: -50px top; }
.box_10 .c-lb { background-position: -60px top; }
.box_10 .c-rb { background-position: -70px top; }
.box_11 .c-lt { background-position: -80px top; }
.box_11 .c-rt { background-position: -85px top; }
.box_11 .c-lb { background-position: -80px -5px; }
.box_11 .c-rb { background-position: -85px -5px; }
.box_12 .c-lt { background-position: -90px top; }
.box_12 .c-rt { background-position: -100px top; }
.box_12 .c-lb { background-position: -110px top; }
.box_12 .c-rb { background-position: -120px top; }
.box_14 { background: #E5F7FF; }
.box_14 .c-lt { background-position: -0px -187px; }
.box_14 .c-rt { background-position: -17px -187px; }
.box_14 .c-lb { background-position: -34px -187px; }
.box_14 .c-rb { background-position: -51px -187px; }
.box_wrapper {
padding: 20px 30px 30px;
}
.form .box_wrapper {
padding-bottom: 20px;
}
#header {
font-size: 1.416em;
font-weight: bold;
min-width: 994px;
}
#header h1 {
font-size: 1.416em;
padding: 19px 0 0 30px;
}
body.promo-signin-business #header h1 {
float: none;
font: 1.411em Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
padding-left: 22px;
}
#header .content_wrapper_wide {
overflow: hidden;
height: 70px;
}
#header .header-logo {
display: block;
float: left;
margin: 13px 0 0 30px;
}
#header .header-logo img {
margin: 0;
float: none;
cursor: pointer;
}
#header .menu {
float: right;
padding: 21px 0 19px;
list-style: none;
}
#header .menu li {
float: left;
border-right: 1px solid #BEC8D5;
}
#header .menu li a {
display: inline-block;
padding: 0 17px;
line-height: 30px;
}
#header .menu li.sign-in {
border-right: 0;
}
#header .menu li.sign-in a {
color: #FFA508;
padding-left: 33px;
}
#header a {
color: #288CD0;
text-decoration: none;
}
#header a:hover {
text-decoration: underline;
}
#header.header-small {
background: #fff;
}
#header.header-small .content_wrapper_wide {
min-height: 70px;
height: auto;
width: 826px;
}
#header.header-small .header-logo {
margin-left: 13px;
margin-top: 14px;
margin-bottom: 0;
display: inline-block;
float: none;
vertical-align: middle;
}
#header.header-small h1 {
display: inline-block;
vertical-align: middle;
padding: 14px 0 0 33px;
font-weight: normal;
}
body.promo-signin-business #header {
background: #fff;
}
body.promo-signin-business #header .content_wrapper_wide {
width: 365px;
height: auto;
}
body.promo-signin-business .content_wrapper {
padding-top: 11px;
}
.introduction .background-t {
background-position: 50% -5px;
}
.introduction .background-b {
height: 524px;
}
.introduction h1 {
padding: 30px 0 12px 27px;
height: 87px;
text-align: center;
}
.introduction .image-browser,
.introduction .image-mobile {
float: left;
display: block;
}
.introduction .image-mobile {
margin: 47px 0 0 24px;
}
.introduction .text {
float: left;
margin: 53px 0 0 32px;
width: 262px;
height: 119px;
color: #29373D;
font-size: 1.166em;
line-height: 1.428em;
}
.introduction .text h2 {
padding: 0 0 10px;
font-size: 1.428em;
font-weight: normal;
line-height: 1.2em;
}
.introduction .sign-up {
float: left;
display: block;
margin: 25px 0 0 29px;
width: 256px;
height: 55px;
background: url(/img/promo2010/intro-button-signup.png) 0 0 no-repeat;
font-size: 1.833em;
font-weight: bold;
color: #fff;
line-height: 51px;
letter-spacing: -0.025em;
text-shadow: 0 -1px 1px #7EA216;
text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
text-decoration: none;
text-align: center;
}
.introduction .sign-up span {
display: block;
width: 256px;
height: 55px;
cursor: pointer;
text-indent: -9000px;
background: url(/img/promo2010/into-button-text-en.png) 0 -55px no-repeat;
}
.introduction .sign-up:hover {
color: #ffffde;
text-decoration: underline;
}
.introduction .sign-up:hover span {
background-position: 0 0;
}
.introduction .tour-button {
float: left;
margin: 59px 0 0 29px;
text-align: center;
width: 248px;
}
.introduction .tour-button span,
.introduction .tour-button a {
background: url(/img/promo2010/intro-tour.png) 0 0 no-repeat;
display: inline-block;
}
.introduction .tour-button span {
background-position: 0 -38px;
background-repeat: repeat-x;
}
.introduction .tour-button span span {
background-position: 100% -76px;
background-repeat: no-repeat;
}
.introduction .tour-button a {
padding: 0 46px 1px 28px;
color: #fff;
font-size: 1.333em;
font-weight: bold;
color: #fff;
text-decoration: none;
line-height: 37px;
}
.introduction .tour-button a:hover {
color: #ffffde;
text-decoration: underline;
}
.introduction .tour-button,
.introduction .tour-button span {
height: 38px;
overflow: hidden;
}
.features {
border-bottom: 2px solid #CFCFCD;
}
.features .grid-col {
padding: 21px 0 36px;
position: relative;
}
.features .img {
border: 1px solid #CFCFCD;
}
.features .img span {
display: block;
position: absolute;
width: 22px;
height: 22px;
right: 6px;
top: 12px;
background: url(/img/promo2010/features-zoom.png) 0 0 no-repeat;
}
* html .features .img span {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo2010/features-zoom.png, sizingMethod=crop);
}
.features .img img {
margin: 0 !important;
}
* html .features .img {
padding-top: 1px;
}
* html .features .img img {
margin-top: -1px !important;
}
.features h3 {
color: #333;
font-size: 1.333em;
line-height: 1em;
padding: 17px 5px 5px;
}
.features p {
color: #666;
line-height: 1.333em;
padding: 0 5px;
}
.info-promo {}
.info-promo h2 {
color: #3C819F;
font-size: 1.666em;
font-weight: bold;
}
.info-promo h3 {
font-size: 1.166em;
font-weight: bold;
line-height: 1.15em;
color: #333;
padding: 0 0 4px;
}
.info-promo .grid-col {
padding: 22px 0 0;
}
.info-users {
position: relative;
}
.info-users .deco {
position: absolute;
right: 37px;
top: 35px;
width: 43px;
height: 35px;
background: url(/img/promo2010/icon-me.png) 0 0 no-repeat;
}
.info-users h2 {
padding: 0 0 0 3px;
}
.info-users ul {
list-style: none;
padding: 10px 0 0;
width: 100%;
}
.info-users li {
padding: 12px 0 15px 29px;
background: url(/img/promo2010/icon-list.gif) 0 11px no-repeat;
}
.info-promo .info-access {
padding-top: 29px;
}
.info-access div {
padding-left: 3px;
}
.info-access p {
color: #666;
font-size: 0.916em;
line-height: 1.454em;
padding: 0 0 20px;
}
.info-access img {
display: block;
margin: 0 0 20px 20px;
}
.info-quotes {
position: relative;
}
.info-quotes .box {
border: 0;
background: #FFF4DF;
margin: 0;
}
.info-quotes .arrow, .info-quotes .c-lt, .info-quotes .c-rt, .info-quotes .c-rb, .info-quotes .c-lb {
width: 18px;
height: 18px;
background: url(/img/promo2010/quotes-corners.gif) 0 0 no-repeat;
}
.info-quotes .c-lt { background-position: 0 0; left: 0; top: 0; }
.info-quotes .c-rt { background-position: -18px 0; right: 0; top: 0; }
.info-quotes .c-rb { background-position: -18px -18px; right: 0; bottom: 0; }
.info-quotes .c-lb { background-position: 0 -18px; left: 0; bottom: 0; }
* html .info-quotes .c-rt,
* html .info-quotes .c-rb {
right: expression(parentNode.offsetWidth % 2 ? '-1px' : '0px');
}
.info-quotes .arrow {
background-position: -17px -38px;
width: 19px;
height: 19px;
left: 22px;
bottom: -19px;
position: absolute;
display: block;
}
.info-quotes .deco {
position: absolute;
right: 9px;
top: 39px;
width: 49px;
height: 37px;
background: url(/img/promo2010/icon-wow.gif) 0 0 no-repeat;
}
.info-quotes h2 {
padding: 0 0 20px 9px;
}
.info-quotes blockquote {
color: #2c2c2c;
font: 1.166em/1.428em Georgia, Helvetica, Arial;
font-style: italic;
padding: 20px 25px 25px 20px;
min-height: 120px;
}
.info-quotes blockquote span {
display: block;
}
.info-quotes p.author {
padding: 14px 0 0 45px;
font-weight: bold;
font-style: italic;
}
.info-quotes p.author i {
color: #666;
font-weight: normal;
}
.info-quotes .nav {
float: right;
padding: 11px 15px 0 0;
}
.info-quotes .nav a {
display: block;
background: url(/img/promo2010/quotes-arrows.gif) 0 0;
width: 21px;
height: 21px;
float: left;
cursor: pointer;
margin-left: 9px;
}
.info-quotes .nav a.next {
background-position: 0 -21px;
}
.infoBusiness {
padding: 19px 29px 20px 15px;
font-size: 109%;
}
.infoBusiness .compare {
float: right;
padding: 25px 12px 0 0;
}
.infoBusiness .header_link {
float: left;
padding: 25px 0 0 45px;
}
.infoBusiness .header_link a {
padding-right: 21px;
background: url(/img/v3/icon_follow_link.gif) right 2px no-repeat;
}
.infoBusiness h1 {
color: #FF8C00;
font-size: 200%;
font-weight: bold;
padding: 0 0 14px;
float: left;
}
.infoBusiness h1 span {
padding-left: 18px;
}
.infoBusiness h2,
.infoBusiness p {
padding: 0 33px 16px 15px;
line-height: 1.25em;
}
.infoBusiness h2 {
font-size: 139%;
font-weight: bold;
color: #333;
}
.infoBusiness .box-wrapper {
padding: 16px 23px 23px 19px;
}
.infoBusiness .box h3,
.infoBusiness .box p {
padding-left: 3px;
}
.infoBusiness .box h3 {
font-size: 139%;
font-weight: normal;
padding-bottom: 5px;
vertical-align: middle;
}
.infoBusiness .box h3 img {
vertical-align: middle;
position: relative;
margin-top: -3px;
}
.infoBusiness .box p {
padding-bottom: 5px;
color: #666;
}
.infoBusiness .box_8_white {
margin-bottom: 0;
}
.individualUpgrade .slider-2,
.infoBusiness .slider-2 {
background-position: left -22px;
background-repeat: repeat-x;
zoom: 1;
}
.individualUpgrade .slider-2 *,
.infoBusiness .slider-2 * {
cursor: pointer;
}
.individualUpgrade .slider-2 .r,
.infoBusiness .slider-2 .r {
background-position: right -88px;
padding: 0;
}
.individualUpgrade .slider-2 .c,
.infoBusiness .slider-2 .c {
background-position: left top;
background-repeat: no-repeat;
}
.individualUpgrade .slider-2 a,
.infoBusiness .slider-2 a {
background: none;
}
.individualUpgrade .slider-2 .deco,
.infoBusiness .slider-2 .deco {
background: url(/img/v3/slider_selected.png) left top no-repeat;
width: 38px;
height: 20px;
}
*:first-child+html .individualUpgrade .slider-2 .deco,
*:first-child+html .infoBusiness .slider-2 .deco {
margin-left: 0;
}
* html .individualUpgrade .slider-2 .deco,
* html .infoBusiness .slider-2 .deco {
background: none;
margin-left: 0;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/v3/slider_selected.png, sizingMethod=crop);
}
.infoBusiness .slider,
.infoBusiness .slider div {
background: url(/img/v3/slider.gif) left top no-repeat;
}
.infoBusiness .slider {
background-position: left -22px;
background-repeat: repeat-x;
width: 307px;
}
.infoBusiness .slider .r {
background-position: right bottom;
}
.infoBusiness .slider .c {
background: url(/img/v3/slider_pattern.gif) 0px 8px repeat-x;
padding: 0 1px 0 2px;
cursor: pointer;
height: 22px;
position: relative;
}
.infoBusiness .slider a {
float: left;
display: block;
height: 22px;
width: 87px;
text-align: center;
color: #333;
text-decoration: none;
position: relative;
z-index: 10;
font-size: 108%;
line-height: 1.5em;
outline: none;
}
.infoBusiness .slider a.first-child {
width: 54px;
padding-left: 0;
padding-right: 11px;
}
.infoBusiness .slider a.last-child {
width: 52px;
padding-left: 11px;
padding-right: 0;
}
.infoBusiness .slider a.selected {
color: #fff;
font-weight: bold;
}
.infoBusiness .slider .deco {
background: url(/img/v3/slider_selected.gif) left top no-repeat;
width: 54px;
height: 20px;
position: absolute;
z-index: 5;
margin-left: 2px;
margin-top: 1px;
left: 0px;
}
.individualUpgrade h4,
.infoBusiness .box h4 {
color: #FF8C00;
font-weight: normal;
font-size: 108%;
padding: 15px 0 10px;
}
.individualUpgrade h4 {
padding: 5px 0 7px;
}
.individualUpgrade .price,
.infoBusiness .price {
float: left;
padding: 20px 0 0 32px;
}
.individualUpgrade .price small,
.infoBusiness .price small {
font-size: 85%;
color: #6A6A6A;
}
.individualUpgrade .price span,
.infoBusiness .price span {
font-size: 200%;
line-height: 1.2em;
color: #333;
}
.infoBusiness .price {
padding: 0 0 10px 20px;
float: none;
font-size: 231%;
font-weight: bold;
}
.infoBusiness .price span {
font-size: 100%;
letter-spacing: -2px;
}
.infoBusiness .price small {
font-size: 70%;
color: #333;
}
.infoBusiness .wrapper-bottom {
padding: 5px 0 7px 20px;
font-weight: bold;
color: #fff;
}
.individualUpgrade .button,
.infoBusiness .button {
float: right;
margin-right: 20px;
margin-top: 28px;
}
.infoBusiness .button {
float: left;
margin: 20px 0 0 20px;
}
* html .individualUpgrade .button,
* html .infoBusiness .button {
margin-right: 10px;
}
.individualUpgrade .button,
.individualUpgrade .button div,
.individualUpgrade .button input,
.infoBusiness .button,
.infoBusiness .button div,
.infoBusiness .button input {
background: url(/img/v3/button_signup.gif) left top no-repeat;
}
.individualUpgrade .button,
.infoBusiness .button {
background-position: left -39px;
background-repeat: repeat-x;
}
.individualUpgrade .button input,
.infoBusiness .button input {
border: 0;
padding: 0 16px 0 18px;
margin: 0;
background-position: right -78px;
font-size: 170%;
font-weight: bold;
color: #fff;
height: 39px;
cursor: pointer;
}
* html .individualUpgrade .button input,
* html .infoBusiness .button input {
height: 39px;
padding-left: 0 !important;
padding-right: 0 !important;
position: relative;
top: -1px;
}
*:first-child+html .individualUpgrade .button input,
*:first-child+html .infoBusiness .button input {
height: 39px;
padding-left: 2px;
padding-right: 3px;
position: relative;
top: -1px;
}
.businessFeatures {
padding: 23px 0 36px 32px;
}
.businessFeatures h2 {
font-size: 183%;
font-weight: bold;
color: #333;
padding: 0 0 28px;
}
.businessFeatures td {
padding: 0 30px 0 0;
}
.businessFeatures td img {
margin-bottom: 13px;
margin-top: 0;
}
.businessFeatures td h3,
.businessFeatures td p {
padding: 2px 0 0 2px;
}
.businessFeatures td h3 {
font-size: 117%;
font-weight: bold;
color: #333;
padding-top: 5px;
}
.businessFeatures td p {
color: #666;
line-height: 1.15em;
}
.businessFeatures.individual {
padding-bottom: 18px;
}
.businessFeatures.individual h2 {
padding-bottom: 22px;
}
.infoIndividual {
padding: 19px 29px 20px 15px;
font-size: 109%;
}
.infoIndividual h1 {
color: #43941A;
font-size: 200%;
font-weight: bold;
padding: 0 0 22px 7px;
float: left;
}
.infoIndividual h1 span {
padding-left: 15px;
padding-top: 14px;
display: -moz-inline-box;
display: inline-block;
}
.infoIndividual h1 img {
vertical-align: top;
}
.infoIndividual .compare {
float: right;
padding: 25px 12px 0 0;
}
.infoIndividual .header_link {
float: left;
padding: 25px 0 0 45px;
}
.infoIndividual .header_link a {
padding-right: 21px;
background: url(/img/v3/icon_follow_link.gif) right 2px no-repeat;
}
.infoIndividual h2,
.infoIndividual p {
padding: 0 0 18px 15px;
line-height: 1.25em;
}
.infoIndividual h2 {
font-size: 139%;
font-weight: bold;
color: #333;
padding-bottom: 10px;
}
.individualUpgrade {
background: #FAFAFA;
overflow: hidden;
height: 65px;
padding: 10px 34px 0 36px;
border: 0;
line-height: 1.2em;
}
.individualUpgrade .slider-2 a span {
line-height: 1.7em;
height: 18px;
overflow: hidden;
}
.individualUpgrade .price {
font-weight: bold;
float: none;
padding: 4px 0 1px 0;
margin-left: 18px;
}
*:first-child+html .individualUpgrade .price { padding-top: 2px; }
* html .individualUpgrade .price { padding-top: 2px; }
.individualUpgrade .price small {
vertical-align: top;
display: -moz-inline-box;
display: inline-block;
padding-top: 5px;
font-size: 150%;
font-weight: bold;
color: #333;
line-height: 1em;
}
.individualUpgrade .price span {
line-height: 1em;
}
.individualUpgrade .discount {
color: #2587CD;
padding: 3px 0 2px 24px;
margin: 0;
background: url(/img/v3/icon_discount.gif) left top no-repeat;
font-size: 117%;
font-weight: bold;
float: right;
}
*:first-child+html .individualUpgrade .discount { position: relative; margin-top: -5px; }
* html .individualUpgrade .discount { position: relative; margin-top: -5px; }
.individualUpgrade .button {
background-position: left -151px;
margin-top: 10px;
}
.individualUpgrade .button div {
background-position: left -117px;
}
.individualUpgrade .button input {
background-position: right -185px;
height: 34px;
}
* html .individualUpgrade .button input {
height: 34px;
top: 0;
}
*:first-child+html .individualUpgrade .button input {
height: 34px;
top: 0;
}
.individualUpgrade h3 {
float: left;
color: #FF8C00;
font-size: 167%;
font-weight: normal;
padding-top: 4px;
line-height: 1.2em;
}
.premiumWhiteBottom {
background: #FAFAFA;
border: 0;
overflow: hidden;
height: 49px;
padding: 16px 34px 0 36px;
}
.premiumWhiteBottom h3,
.premiumWhiteBottom .button {
float: left;
}
.premiumWhiteBottom .button {
font-size: 100%;
margin: 3px 0 0 17px;
}
.premiumWhiteBottom h3 {
color: #FF8C00;
font-size: 167%;
font-weight: normal;
padding-top: 4px;
}
.sidebar_text_wrapper {
padding: 20px 30px;
color: #666;
font-size: 109%;
}
.sidebar_text_wrapper h2,
.sidebar_text_wrapper h3 {
font-size: 150%;
color: #333;
line-height: 1.1em;
padding: 0 0 20px;
}
p.big {
padding: 20px 0 0;
}
form.form {
margin-top: 20px;
font-size: 109%;
color: #666;
}
.sidebar_text_wrapper form.form {
margin-top: 0;
}
form.form td {
padding: 5px 0;
}
form.form td.txt {
font-size: 92%;
padding: 5px 0 12px;
}
form.form div.error {
padding-bottom: 10px;
}
form.form label {
padding-right: 30px;
white-space: nowrap;
color: #666;
vertical-align: middle;
}
form.form label.error {
color: #a00;
}
form.form input.text, form.form textarea.text {
width: 240px;
vertical-align: middle;
}
form.form input.checkbox {
vertical-align: top;
margin: 0;
}
form.form h2 {
font-size: 116%;
font-weight: bold;
color: #666;
padding: 13px 0;
}
.signup_button,
form.form .signup_button {
margin-top: 10px;
height: 26px;
overflow: hidden;
float: left;
display: inline-block;
background: url(/img/v3/button_home_try.gif) left -26px repeat-x;
padding: 0;
}
.signup_button div,
form.form .signup_button div {
background: url(/img/v3/button_home_try.gif) left top no-repeat;
}
.signup_button input,
form.form .signup_button input {
background: url(/img/v3/button_home_try.gif) right -78px no-repeat;
border: 0;
display: block;
padding: 0 10px 4px;
height: 26px;
color: #fff;
font-size: 109%;
font-weight: bold;
line-height: 0.7em;
cursor: pointer;
}
.signup_button a,
form.form .signup_button a {
color: #fff;
line-height: 0.7em;
}
* html form.form .signup_button * { float: left; }
* html form.form .signup_button input{ padding: 1px 5px 3px; }
*:first-child+html form.form .signup_button input { padding: 1px 5px 3px; }
* html .signup_button * { float: left; }
* html .signup_button input { padding: 1px 5px 3px; }
*:first-child+html .signup_button input { padding: 1px 5px 3px; }
.image_cache_container {
position: absolute;
left: -9999px;
top: -9999px;
}
table.form {
}
table.form td {
vertical-align: middle;
padding: 3px 0;
}
table.form td label {
padding-right: 5px;
}
table.form td input {
margin-right: 5px;
}
.uservoice {
}
.uservoice p {
padding: 0 0 5px;
}
.uservoice center {
padding: 2px 0 8px;
}
.uservoice small {
color: #824E10;
font-size: 0.875em;
}
.promo-social {
padding: 18px 20px 18px 74px;
border-top: 1px solid #E9E9E9;
zoom: 1;
}
.promo-social.first-child {
border-top: 0;
}
.promo-social img {
position: absolute;
margin-left: -56px;
margin-top: 0;
}
.promo-social h3 {
font-size: 150%;
}
.promo-social p {
color: #666;
font-size: 109%;
line-height: 1.25em;
}
.blog_list {
}
.blog_list_short .blog_entries,
.blog_entries {
list-style: none;
}
.blog_list_short .blog_entries li div,
.blog_entries li {
padding: 27px 0 0 23px;
background: url(/img/v3/icon-news.gif) left 30px no-repeat;
}
.blog_list_short .blog_entries li h2,
.blog_entries li h2 {
font-size: 109%;
font-weight: bold;
}
.blog_list_short .blog_entries li small,
.blog_entries li small {
color: #5E5E5E;
font-size: 92%;
}
.blog_entries li .text {
font-size: 109%;
color: #333;
padding: 6px 0 1px;
line-height: 1.25em;
}
.blog_entries li .more {
font-size: 109%;
}
.blog_entries li ul {
list-style: disc;
}
.blog_entries li li {
background: none;
padding: 2px 0;
margin: 0 0 0 20px;
}
.blog_list_short {
border-top: 1px solid #E9E9E9;
margin: 0 29px 33px;
}
.blog_list_short .blog_entries {
width: 100%;
overflow: hidden;
}
.blog_list_short .blog_entries li {
float: left;
width: 49%;
padding: 0;
color: #999;
}
.blog_list_short .blog_entries li small {
color: #999;
}
.links {
font-size: 109%;
}
p.links {
float: left;
padding: 40px 0 0 23px;
color: #999;
}
ul.links {
list-style: none;
float: right;
padding: 40px 0 0;
}
ul.links li {
float: left;
padding-left: 26px;
}
ul.links li .rss {
background: url(/img/v2/icon_rss.png) left 0px no-repeat;
padding-left: 24px;
line-height: 1em;
display: inline-block;
padding-bottom: 4px;
}
.blog_entry {
}
.blog_entry small {
font-size: 109%;
color: #999;
}
.blog_entry .txt {
padding: 25px 0 0 0;
font-size: 117%;
}
.blog_entry h1,
.blog_entry small,
.blog_entry .txt,
.blog_navigation {
padding-left: 24px;
padding-right: 24px;
}
.blog .free_text .txt {
padding-top: 30px;
}
.blog .free_text .txt ul,
.blog .free_text .txt ol {
margin: 0 0 18px 0;
list-style: disc;
}
.blog .free_text .txt li {
margin: 0 0 0 20px;
padding: 2px 0 2px 0;
}
.blog .free_text .txt p {
padding: 0 0 18px;
}
.blog .free_text .txt table {
margin-bottom: 18px;
}
.blog_navigation {
overflow: hidden;
display: inline-block;
list-style: none;
font-size: 109%;
padding-top: 15px;
margin: 0 !important;
}
.blog_navigation li {
float: left;
padding-bottom: 0;
}
.blog_navigation .prev {
background: url(/img/v3/icon-nav-prev2.gif) left 3px no-repeat;
padding-right: 18px;
padding-bottom: 0;
}
.blog_navigation .prev a {
padding-left: 21px;
}
.blog_navigation .next {
background: url(/img/v3/icon-nav-next2.gif) right 3px no-repeat;
padding-bottom: 0;
}
.blog_navigation .next a {
padding-right: 21px;
}
.blog_navigation .next a,
.blog_navigation .prev a {
display: inline-block;
padding-bottom: 4px;
padding-top: 3px;
line-height: 1em;
}
.navigation {
padding: 35px 0 0;
width: 100%;
overflow: hidden;
list-style: none;
font-size: 109%;
}
.navigation li {
float: left;
padding: 2px 7px;
}
.navigation li.prev {
padding: 2px 14px 2px 3px;
background: url(/img/v3/icon-nav-prev.gif) 3px 5px no-repeat;
}
.navigation li.prev.disabled,
.navigation li.prev a {
padding-left: 22px;
}
.navigation li.next {
padding: 2px 0 2px 14px;
background: url(/img/v3/icon-nav-next.gif) right 5px no-repeat;
}
.navigation li.next.disabled,
.navigation li.next a {
padding-right: 25px;
}
.navigation li.active a {
font-weight: bold;
color: #333;
text-decoration: none;
}
.contact {
background: url(/img/v3/background_contact.jpg) left top no-repeat;
padding: 33px 80px 39px 28px;
font-size: 117%;
}
.contact h1 {
font-size: 158%;
}
.contact form.form {
font-size: 100%;
margin-top: 35px;
}
.contact form.form td {
padding: 5px 0 15px;
}
.contact form.form label {
color: #333;
padding-right: 10px;
}
.contact form.form label.error {
color: #A00;
}
.contact form.form input.txt,
.contact form.form textarea {
width: 250px;
max-width: 250px;
}
.contact form.form select {
width: 252px;
}
.contact .col-1 {
width: 380px;
}
.contact .col-2 {
width: 317px;
}
.contact .faq {
padding: 36px 0 0 56px;
background: url(/img/v3/icon-info.gif) left 30px no-repeat;
width: auto;
}
.contact_message {
padding: 33px 80px 39px 28px;
}
.contact_message .text {
font-size: 117%;
}
.page {
padding: 30px 30px 15px;
font-size: 117%;
}
.page h1 {
font-size: 158%;
}
.free_text {
}
.free_text h1 {
padding-bottom: 22px;
}
.free_text h2, .free_text h3, .free_text h4 {
padding-bottom: 10px;
}
.free_text p {
padding-bottom: 18px;
}
.free_text ul, .free_text ol {
margin: 0 0 18px 18px;
}
.free_text li {
padding-bottom: 10px;
}
.press {
padding: 30px 15px 12px;
font-size: 117%;
}
.pages .columns {
position: relative;
}
.press .col-1 {
width: 525px;
padding-left: 15px;
}
.press .col-2 {
width: 150px;
padding-right: 15px;
}
* html .press .col-2 {
position: absolute;
top: 0;
right: 15px;
float: none;
}
.press h1 {
font-size: 158%;
padding-bottom: 22px;
}
.press p {
padding-bottom: 18px;
}
.press .screenshots {
position: relative;
margin: 0 -15px 20px;
width: 763px;
background: #ECECEC;
padding: 10px 15px 15px;
}
.press .screenshots h3 {
font-size: 93%;
padding-bottom: 13px;
}
.press .screenshots ul {
list-style: none;
float: left;
}
.press .screenshots li {
float: left;
padding-right: 30px;
}
.press .screenshots p {
float: right;
width: 130px;
padding: 0 20px 0 0;
color: #666;
}
.press .download {
font-size: 92%;
padding-top: 50px;
}
.press .download img {
margin-bottom: 10px;
}
.account-promo {
font-size: 109%;
margin-bottom: 20px;
margin-top: 5px;
}
.account-promo .col-33p {
border-left: 1px solid #E9E9E9;
min-height: 128px;
overflow: hidden;
}
* html .account-promo .col-33p {
height: 128px;
}
.account-promo .col-33p.first-child {
border-left: 0;
}
.account-promo h2 {
font-size: 139%;
padding-bottom: 2px;
}
.account-promo p {
color: #666;
}
.account-promo .button {
font-size: 108%;
float: left !important;
margin-top: 5px;
}
.account-promo .button a {
padding-top: 6px;
padding-bottom: 8px;
}
* html .account-promo .button a {
height: auto;
padding-bottom: 6px;
color: #fff;
}
.account-promo .text {
padding: 18px 18px 18px 27px;
}
.account-promo .icons {
padding: 18px 18px 18px 85px;
min-height: 1px;
}
* html .account-promo .icons {
display: inline-block;
}
.account-promo .icons img {
margin-top: -4px;
margin-left: -70px;
position: absolute;
}
.login {
}
.login h2 {
font-size: 184%;
}
.login h2 span, .login h2 img {
vertical-align: middle;
}
.login h2 img {
margin-left: 14px;
}
.login_wrapper,
.widgets_wrapper {
padding: 14px 28px 18px 29px;
min-height: 197px;
}
* html .login_wrapper,
* html .widgets_wrapper {
height: 197px;
}
.widgets_wrapper {
padding-left: 21px;
}
.widgets_wrapper h2 {
color: #325466;
font-size: 1.75em;
}
.login form.form {
margin-top: 15px;
}
.login form.form td {
padding: 5px 0;
}
.login form.form label {
padding-right: 5px;
}
.login form.form input#login,
.login form.form input#password {
width: 94%;
}
.login form.form .remember label {
font-size: 93%;
}
* html .login form.form .remember {
padding: 3px 0 0;
}
* html .login form.form .remember input {
margin: -1px 0 0 -3px;
}
*:first-child+html .login form.form .remember input {
margin: -1px 0 0 -3px;
}
.login form.form .recover {
padding-top: 0;
}
.login form.form .submit {
font-size: 92%;
}
.form .login {
}
.form .login h2 {
font-size: 167%;
}
.form .login .login_wrapper {
height: auto;
padding-top: 20px;
}
.form .login .login_wrapper p,
.login_wrapper p {
padding: 15px 0 5px;
font-size: 117%;
}
.form .login .login_wrapper form.form {
margin-top: 0;
}
.widgets_list {
overflow: hidden;
list-style: none;
font-size: 109%;
padding: 20px 0 0 8px;
zoom: 1;
}
.widgets_list h3 {
font-size: 108%;
}
.widgets_list li {
float: left;
width: 80px;
padding-right: 35px;
padding-left: 10px;
}
.widgets_list li img {
margin-left: 12px;
}
.widgets_list li.widgets {
width: 187px;
border-left: 1px solid #E9E9E9;
padding: 7px 0 26px 23px;
}
.widgets_list li.widgets ul {
list-style: none;
}
.widgets_list li.widgets li {
float: none;
padding: 15px 0 0 33px;
width: auto;
}
.widgets_list li.widgets img {
position: absolute;
margin-left: -38px;
margin-top: -4px;
}
body.promo-signin {
background: url(/img/promo2010/signin-background.gif) center top repeat;
}
.signin-wrapper {
width: 521px;
margin: 0 auto;
padding: 30px 0 30px;
}
.business .signin-wrapper {
padding-top: 0;
}
.form-block {
width: 331px;
margin: 0 auto 18px;
background: url(/img/promo2010/sigin-block1-lr.gif) 0 0 repeat-y;
}
.business .form-block {
background-image: url(/img/promo2010/sigin-block3-lr.gif);
}
.form-block .t, .form-block .t div, .form-block .b, .form-block .b div {
background: url(/img/promo2010/sigin-block1-corners.gif) 0 0 no-repeat;
height: 14px;
overflow: hidden;
}
.business .form-block .t, .business .form-block .t div, .business .form-block .b, .business .form-block .b div {
background-image: url(/img/promo2010/sigin-block3-corners.gif);
}
.form-block .t {
background-position: 0 0;
}
.form-block .t div { background-position: 100% 0; }
.form-block .t div div, .form-block .b div div {
background-position: 50% -28px;
background-repeat: repeat-x;
margin: 0 14px;
}
.form-block .b {
background-position: 0 -14px;
}
.form-block .b div { background-position: 100% -14px; }
.form-block .b div div {
background-position: 0 -42px;
}
.form-block .r {
background: url(/img/promo2010/sigin-block1-lr.gif) 100% 0 repeat-y;
}
.business .form-block .r {
background-image: url(/img/promo2010/sigin-block3-lr.gif);
}
.form-block .c {
background: #FAFAFA;
margin: 0 14px;
padding: 0 0 1px;
}
.form-block h1,
.form-block h2 {
padding: 11px 15px 7px 13px;
color: #0070AD;
font-size: 1.666em;
font-weight: normal;
}
.form-block h1 small,
.form-block h2 small {
display: block;
font-weight: bold;
padding-top: 15px;
}
.form-block form td {
vertical-align: top;
padding: 0 0 13px;
}
.signin-block form td.remember {
padding: 5px 0 20px;
}
.signin-block form.form {
margin-top: 13px;
}
.form-block form label {
color: #333;
display: inline-block;
padding: 5px 6px 0 17px;
font-size: 0.923em;
letter-spacing: -0.03em;
}
.form-block form label.checkbox {
padding: 0;
line-height: 1.1em;
vertical-align: top;
}
*:first-child+html .form-block form input.checkbox,
*:first-child+html .form-block form label.checkbox {
vertical-align: middle;
line-height: 1.2em;
}
* html .form-block form input.checkbox,
* html .form-block form label.checkbox {
vertical-align: middle;
line-height: 1.2em;
}
.signin-block .remember input {
vertical-align: top;
}
.signin-block .remember label {
padding: 0;
line-height: 1.1em;
vertical-align: top;
}
.form-block form input.text {
width: 190px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.form-block form input.error,
.form-block form tr.row-error input {
border: 1px solid #CD6C16;
}
.signin-block button {
width: 125px;
height: 35px;
border: 0;
background: url(/img/promo2010/signin-button.png) 0 0 no-repeat;
cursor: pointer;
}
.signin-block button span {
visibility: hidden;
cursor: pointer;
}
.form-block div.error {
background: #FFD7D1;
border: 1px solid #A54141;
padding: 4px 10px 5px 17px;
margin: 3px 8px 0 10px;
color: #232323;
font-size: 0.916em;
line-height: 1.636em;
-ms-border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}
.form-block form.form label.error {
color: #333;
}
.form-block form h2,
.form-block p.big {
font-size: 1em;
font-weight: normal;
color: #888;
padding: 10px 0 2px;
}
.form-block p.big {
font-size: 1.08em;
}
.promo-signin div.recover {
color: #092131;
text-align: center;
padding: 1px 0 0;
}
.promo-signin div.register {
text-align: center;
margin: 39px auto 0;
width: 298px;
}
.promo-signin div.register div {
background: url(/img/promo2010/signin-register-background.png) 0 0 no-repeat;
}
.promo-signin div.register div div {
background: url(/img/promo2010/signin-register-background.png) 100% -29px no-repeat;
padding: 0 15px;
}
.promo-signin div.register a {
background: #7C7C7C;
display: block;
height: 29px;
padding: 0 33px 0 28px;
overflow: hidden;
color: #fff;
font-size: 1.166em;
line-height: 30px;
text-decoration: none;
}
div.tooltip {
background: #fff url(/img/promo2010/tooltip-background.gif) 0 0 repeat-y;
border:1px solid #CD6C16;
padding:10px 6px;
width:148px;
display:none;
color:#333;
text-align:left;
font-size:12px;
-moz-box-shadow:0 0 16px #9B9B9B;
-webkit-box-shadow:0 0 16px #9B9B9B;
-o-box-shadow:0 0 16px #9B9B9B;
box-shadow:0 0 16px #9B9B9B;
-moz-box-shadow:0 0 16px rgba(0,0,0,0.39);
-webkit-box-shadow:0 0 16px rgba(0,0,0,0.39);
-o-box-shadow:0 0 16px rgba(0,0,0,0.39);
box-shadow:0 0 16px rgba(0,0,0,0.39);
-ms-border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}
div.tooltip span {
display: block;
position: absolute;
top: 50%;
left: -11px;
background: url(/img/promo2010/tooltip-arrow.png) 0 0 no-repeat;
width: 11px;
height: 19px;
margin-top: -9px;
}
div.tooltip span {
background: url(/img/promo2010/tooltip-arrow.gif) 0 0 no-repeat;
}
.box-widgets-block {
background: #FAFAFA;
border-color: #E9E9E9;
margin-top: 50px;
}
.box-widgets-block .c-lt, .box-widgets-block .c-rt, .box-widgets-block .c-rb, .box-widgets-block .c-lb {
background: url(/img/promo2010/signin-block2-corners.gif) 0 0 no-repeat;
}
.box-widgets-block .c-lt { background-position:   0px   0px; }
.box-widgets-block .c-rt { background-position: -17px   0px; }
.box-widgets-block .c-lb { background-position:   0px -17px; }
.box-widgets-block .c-rb { background-position: -17px -17px; }
div.promo-register {
background: url(/img/promo2010/signin-background.gif) center top repeat;
border-bottom: 1px solid #FFF;
}
div.promo-register-background {
background: url(/img/promo2010/signup-background.gif) center top repeat-x;
}
div.promo-register .content_wrapper {
width: 915px;
padding: 25px 0 0;
}
.user_data div.promo-register .content_wrapper {
width: 500px;
}
.signup-block {
width: auto;
}
.signup-block form {
margin-left: 63px;
color: #888;
}
.signup-block form label {
font-size: 1em;
padding-left: 0;
padding-top: 8px;
}
.signup-block td span {
display: block;
font-size: 0.846em;
line-height: 1em;
padding: 3px 0 0;
}
.signup-block h1 {
padding: 14px 15px 16px 19px;
}
.signup-block p.big {
padding: 0 15px 0 63px;
}
.signup-block form .signup_button {
height: 46px;
background: url(/img/promo2010/signup-button.gif) 0 -46px repeat-x;
margin: 17px 0 12px;
}
.signup-block form .signup_button div {
background: url(/img/promo2010/signup-button.gif) 0 0 no-repeat;
}
.signup-block form .signup_button input {
background: url(/img/promo2010/signup-button.gif) 100% -92px no-repeat;
height: 46px;
font: 1.384em Arial, Helvetica, sans-serif;
}
.signup-block form input.text {
width: 235px;
height: 32px;
font-size: 1.230em;
font-weight: bold;
line-height: 32px;
}
*:first-child+html .signup-block form input.text {
height: 28px;
line-height: 28px;
}
* html .signup-block form input.text {
height: 28px;
line-height: 28px;
}
.signup-text {
font-size: 1.083em;
line-height: 1.3em;
padding: 22px 0 0;
}
.signup-text h2 {
color: #6A5A4A;
font-size: 2.153em;
font-weight: bold;
padding: 0 0 14px 6px;
}
.signup-text h3 {
font-size: 1.153em;
font-weight: normal;
padding: 0 0 5px  6px;
}
.signup-text ul {
list-style: none;
padding: 0 0 20px;
}
.signup-text ul li {
background: url(/img/promo2010/signup-list-bullet.gif) 0 5px no-repeat;
padding: 5px 0 6px 30px;
}
.signup-text p {
padding: 0 0 17px 6px;
}
.faq {
font-size: 109%;
width: 100%;
}
.faq_wrapper {
padding: 35px 30px 40px 22px;
}
.faq h2 {
padding: 0 0 12px 0;
font-size: 108%;
}
.faq .categories {
width: 240px;
}
.faq .categories h2 {
padding-left: 25px;
}
.faq .categories ul {
list-style: none;
margin-bottom: 29px;
}
.faq .categories li {
padding: 2px 0 0 25px;
height: 24px;
margin-top: 7px;
}
.faq .categories li.selected {
background: #FFA730 url(/img/v3/faq_item_background.gif) left top no-repeat;
padding: 0;
height: auto;
}
.faq .categories li.selected div {
background: url(/img/v3/faq_item_background.gif) right -26px no-repeat;
}
.faq .categories li.selected a {
text-decoration: none;
font-weight: bold;
color: #fff;
display: block;
background: url(/img/v3/faq_item_icon.gif) 7px 8px no-repeat;
padding: 3px 0 0 25px;
height: 23px;
line-height: 1.4em;
}
.faq div.questions {
}
.faq ul.questions {
list-style: none;
}
.faq ul.questions li {
padding: 2px 0 0 0;
margin: 7px 0 11px;
}
.faq ul.questions li a {
text-decoration: none;
border-bottom: 1px dashed #1956A2;
line-height: 1.5em;
}
.faq ul.questions li a:hover {
border-bottom-color: #FAFAFA;
}
.faq ul.questions li a.active {
color: #FF8C00;
font-weight: bold;
border-color: #FF8C00;
}
.faq ul.questions .answer-content {
padding: 27px;
}
.faq ul.questions .box {
margin-bottom: 10px;
margin: 18px 0 10px;
}
.faq ul.questions .answer_triangle {
background: url(/img/v3/faq_block_arrow.gif) left top no-repeat;
width: 29px;
height: 14px;
position: absolute;
margin-left: 57px;
margin-top: -14px;
}
.faq .message {
}
.tour {
}
.tour h1 {
color: #FF9522;
font-size: 2.666em;
text-align: center;
margin: 11px 0;
}
.tour p {
color: #666;
font-size: 1.166em;
line-height: 1.142em;
text-align: center;
margin: 0 0 35px;
}
.tour-video {
background: #F4F4F4;
padding: 0 0 45px;
}
.tour-video .tour-video-wrapper {
width: 640px;
margin: 0 auto;
}
.tour-video .tour-video-item {
padding: 40px 0 0;
}
.tour-list {
list-style: none;
}
.tour-list li.tour-item {
border-bottom: 1px solid #E0E0E0;
padding: 38px 32px 50px 6px;
overflow: hidden;
zoom: 1;
}
.tour-list li.tour-item-reversed {
padding-left: 0;
padding-right: 65px;
}
.tour-list li.tour-item-business {
padding-bottom: 27px;
}
.tour-list li.tour-item .image,
.tour-list li.tour-item .image .i-b {
background: url(/img/tour/image-block-tb.png) 0 100% repeat-x;
}
.tour-list li.tour-item .image {
background-position: 0 0;
background-color: #FBFBFB;
float: left;
margin-right: 64px;
position: relative;
zoom: 1;
}
.tour-list li.tour-item-reversed .image {
float: right;
margin-left: 50px;
margin-right: 0;
}
.tour-list li.tour-item-reversed .image a {
display: block;
}
.tour-list li.tour-item .image .i-l,
.tour-list li.tour-item .image .i-r {
background: url(/img/tour/image-block-lr.png) 0 0 repeat-y;
}
.tour-list li.tour-item .image .i-r {
background-position: 100% 0;
}
.tour-list li.tour-item .image .i-lt {
background: url(/img/tour/image-block-lt.png) 0 0 no-repeat;
}
.tour-list li.tour-item .image .i-rt {
background: url(/img/tour/image-block-rt.png) 100% 0 no-repeat;
}
.tour-list li.tour-item .image .i-rb {
background: url(/img/tour/image-block-rb.png) 100% 100% no-repeat;
}
.tour-list li.tour-item .image .i-lb {
background: url(/img/tour/image-block-lb.png) 0 100% no-repeat;
padding: 19px 18px 21px 18px;
}
.tour-list li.tour-item .image span {
background: url("/img/promo2010/features-zoom.png") 0 0 no-repeat;
display: none;
height: 22px;
position: absolute;
right: 8px;
top: 9px;
width: 22px;
}
.tour-list li.tour-item .image:hover span {
display: block;
}
.tour-list li.tour-item-thumbnail {
padding: 35px 0 40px 26px;
}
.tour-list li.tour-item .image-simple {
float: left;
width: 100px;
}
.tour-list li.tour-item img.simple {
display: block;
margin: 12px 0 0 0;
}
.tour-list li.tour-item .text {
float: left;
width: 375px;
text-align: left;
font-size: 166.66%;
line-height: 120%;
}
.tour-list li.tour-item-reversed .text {
float: right;
width: 370px;
}
.tour-list li.tour-item .text h2 {
font-size: 100%;
margin: 8px 0 6px;
}
.tour-list li.tour-item .text p {
color: #666;
font-size: 100%;
text-align: left;
margin: 6px 0 0;
}
.tour-list li.tour-item .text p.business {
color: #FF9522;
font-size: 60%;
margin: 28px 0 0;
}
.tour-list li.tour-item-thumbnail .text {
width: 645px;
}
.tour-list-simple {
overflow: hidden;
width: 100%;
margin: 47px 0 55px;
list-style: none;
}
.tour-list-simple li.tour-item {
float: left;
border-left: 1px solid #E0E0E0;
}
.tour-list-simple li.tour-item div {
padding: 8px 24px 7px 12px;
}
.tour-list-simple li.tour-item h2 {
font-size: 1.333em;
padding: 0 0 8px;
}
.tour-list-simple li.tour-item p {
font-size: 1em;
line-height: 1.2em;
text-align: left;
margin: 0;
}
.tour-list-simple li.tour-item-first {
border-left: 0;
}
.tour-list-simple li.tour-item-first div {
padding-left: 2px;
}
.tour-list-simple li.tour-item-last div {
padding-right: 2px;
}
.tour .signup, .tour .signup div {
background: url(/img/tour/signup-block.png) 0 -113px repeat-x;
}
.tour .signup {
margin: 47px 0 55px;
position: relative;
}
.tour .signup div {
background-repeat: no-repeat;
background-position: 0 0;
}
.tour .signup div div {
background-position: 100% -226px;
height: 113px;
padding: 22px 0 0;
height: 91px;
text-align: center;
font-size: 166.66%;
font-weight: bold;
}
.tour .signup .overlay {
display: block;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}
.tour .signup h2 {
padding: 0 0 6px;
}
.tour .signup h2 span {
display: inline-block;
padding: 2px 39px 0;
background: url(/img/tour/icon-signup.png) 100% 0 no-repeat;
}
.tour .signup p {
font-size: 100%;
}
.tour .signup p b {
color: #288CD0;
}
.tour .signup:hover p b {
text-decoration: underline;
}
.slider-2 {
background: url(/img/v3/slider2.gif) left top no-repeat;
position: relative;
}
.slider-2 .r {
background: url(/img/v3/slider2.gif) right -66px no-repeat;
padding: 0 10px;
}
.slider-2 .c {
width: 100%;
overflow: hidden;
background: url(/img/v3/slider2.gif) left -44px repeat-x;
}
.slider-2 a {
float: left;
display: block;
width: 6.25%;
height: 21px;
padding-top: 1px;
line-height: 1.35em;
background: url(/img/v3/slider2.gif) left -22px repeat-x;
position: static;
z-index: 3;
text-decoration: none;
}
* html .slider-2 a {
position: relative;
}
.slider-2 a.color2 {
background: url(/img/v3/slider2.gif) left -44px repeat-x;
}
.slider-2 a span {
background: url(/img/v3/slider2_pattern.gif) right -1px no-repeat;
text-align: center;
display: block;
color: #333;
position: relative;
z-index: 4;
}
.slider-2 a.active {
height: 20px;
padding-top: 2px;
position: static;
z-index: 0;
}
.slider-2 a.active span {
color: #fff;
font-weight: bold;
}
.slider-2 a.last-child span {
background: none;
}
.slider-2 a.last-child {
margin-right: -3px;
}
.slider-2 .deco {
background: url(/img/v3/slider2_selected.png) left top no-repeat;
width: 32px;
height: 20px;
position: absolute;
z-index: 4;
margin-left: -1px;
margin-top: 1px;
left: 0;
}
* html .slider-2 .deco {
background: none;
margin-left: -20px;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/v3/slider2_selected.png, sizingMethod=crop);
}
*:first-child+html .slider-2 .deco {
margin-left: 10px;
}
.slider-3 {
font-size: 117%;
width: 48px;
margin: 0 auto;
text-align: left;
position: relative;
}
.slider-3 a {
display: block;
height: 18px;
padding: 1px 0 0;
text-align: center;
position: relative;
z-index: 6;
color: #333 !important;
text-decoration: none;
}
.slider-3 a.active {
color: #fff !important;
font-weight: bold;
}
.slider-3 .deco {
width: 48px;
height: 19px;
background: url(/img/v3/slider3_selected.gif) left top no-repeat;
position: absolute;
z-index: 5;
}
.term {
width: 70%;
margin-bottom: 15px;
}
.term .term-inner {
padding: 20px 30px 22px;
}
.term h1 {
color:#333333;
font-size:184%;
font-weight:normal;
padding:12px 0 8px 10px;
white-space:nowrap;
}
.term h1 i {
font-style: normal;
color: #B12223;
}
.term td {
font-size:109%;
padding:13px 20px 0 10px;
text-align:left;
vertical-align:top;
}
.term label {
font-weight: bold;
}
.term .label-left,
.term .label-right {
width: 68%;
text-align: center;
font-weight: normal;
float: left;
padding-top: 5px;
color: #666;
}
.term .label-right {
width: 31%;
}
.term-price {
width: 33%;
margin-left: 37%;
margin-bottom: 15px;
padding-right: 1px;
}
.term-price td {
vertical-align: middle;
text-align: center;
}
.term-price .term-inner {
padding: 20px 30px;
}
.term-price #price {
font-size: 300%;
}
.term-price .slider-3 {
margin-left: 20px;
}
.terms-button {
padding-left: 37%;
padding-bottom: 30px;
}
.terms-button .signup_button {
margin-left: 156px;
margin-top: 0;
}
.about .signup_login h3 {
padding: 15px 10px 10px;
font-size: 139%;
text-align: center;
}
.about .signup_login .individualUpgrade {
height: auto;
padding-top: 0;
padding-bottom: 15px;
background: none;
text-align: center;
}
* html .about .signup_login .individualUpgrade {
display: inline-block;
}
.about .signup_login .individualUpgrade .button {
display: block;
float: left;
margin-left: 40px;
}
* html .about .signup_login .individualUpgrade .button {
margin-left: 25px;
}
.about .free_text {
padding-left: 35px;
}
.about h1 {
background-repeat: no-repeat;
margin-left: -35px;
padding-left: 35px;
position: relative;
}
.about .press {
padding: 0 0 18px;
font-size: 100%;
}
.about .box-button {
text-align: center;
margin: 5px 0 15px;
padding: 0;
}
.about .box-button form {
padding: 17px 0 16px;
}
.about .box-button form.clickable {
cursor: pointer;
}
.page-access a {
color: #036CB4;
}
.page-access b {
color: #036CB4;
}
.page-access .content_wrapper {
width: 896px;
margin: 0 auto;
padding: 0 0 20px;
}
.page-access h1 {
padding: 15px 0 50px 112px;
margin: 0;
}
.page-access .devices {
list-style: none;
width: 100%;
overflow: hidden;
font-size: 117%;
}
.page-access .devices li {
width: 33%;
float: left;
}
.page-access .devices li.preview {
text-align: center;
}
.page-access .devices.items li {
background: #eee;
padding: 22px 0 22px 0;
color: #666;
position: relative;
z-index: 1;
}
.page-access .devices.items li .wrapper {
width: auto;
margin: 0;
height: 100%;
padding: 0 65px 0 56px;
border-left: 1px solid #C3C3C3;
}
.page-access .devices.items li:first-child .wrapper {
border-left: 0;
}
* html .page-access .devices.items li .wrapper {
border-left-width: expression(!parentNode.previousSibling ? '0px' : '1px');
}
.page-access .devices.items li div.icon {
background: url(/img/promo/access/icons.gif) left top no-repeat;
width: 169px;
height: 53px;
margin-bottom: 10px;
}
.page-access .devices.items li div.icon-2 {
background-position: left -53px;
}
.page-access .devices.items li div.icon-3 {
background-position: left -106px;
}
.page-access .devices.items li div.icon a {
display: block;
width: 100%;
height: 53px;
padding: 0;
margin: 0;
cursor: pointer;
}
.page-access .devices.items li p {
padding: 0 0 5px 6px;
}
.page-access .devices.items .lt,
.page-access .devices.items .rt,
.page-access .devices.items .lb,
.page-access .devices.items .rb {
width: 11px;
height: 11px;
background: url(/img/promo/access/corners.gif) left top no-repeat;
position: absolute;
display: block;
z-index: 2;
}
.page-access .devices.items .lt { left: 0; top: 0; }
.page-access .devices.items .rt { right: 0; top: 0; background-position: right top; }
.page-access .devices.items .rb { right: 0; bottom: 0; background-position: right bottom; }
.page-access .devices.items .lb { left: 0; bottom: 0; background-position: left bottom; }
.footer {
background: #E4EBF1;
padding: 32px 0 36px;
}
.footer .col-1, .footer .col-2, .footer .col-text {
float: left;
min-height: 163px;
}
* html .footer .col-1,
* html .footer .col-2,
* html .footer .col-text {
height: 163px;
}
.footer .col-1 {
width: 135px;
padding-right: 10px;
margin-left: 15px;
background: url(/img/promo2010/footer-list.gif) 100% 0 no-repeat;
}
.footer .col-1:first-child {
margin-left: 29px;
}
.footer .col-2 {
width: 190px;
margin-left: 15px;
}
.footer .col-text {
width: 260px;
margin-left: 15px;
}
.footer .copyright {
color: #666;
float: left;
position: relative;
margin-top: -28px;
}
.footer a {
color: #288CD0;
text-decoration: none;
}
.footer a:hover {
text-decoration: underline;
}
.footer ul {
list-style: none;
}
.footer h3 {
padding: 8px 0 19px 5px;
}
.footer ul li {
background: url(/img/promo2010/icon-footer-list.gif) 6px 7px no-repeat;
padding: 4px 0 5px 18px;
}
.footer ul li.rss,
.footer ul li.facebook,
.footer ul li.twitter,
.footer ul li.uservoice {
background: url(/img/promo2010/icon-rss.gif) 3px 3px no-repeat;
padding-left: 27px;
}
.footer ul li.facebook {
background: url(/img/promo2010/icon-facebook.gif) 3px 3px no-repeat;
}
.footer ul li.twitter {
background: url(/img/promo2010/icon-twitter.gif) 3px 3px no-repeat;
}
.footer ul li.uservoice{
background: url(/img/promo2010/icon-uservoice.gif) 3px 3px no-repeat;
}
.footer .col-text {
color: #333;
font: 1.166em/1.571em Georgia, Helvetica, Arial, sans-serif;
font-style: italic;
padding: 3px;
}
.footer .copyright {
font-size: 0.916em;
padding: 10px 0 0 34px;
}
.footer-small {
padding-top: 10px;
color: #737373;
}
.footer-small .content_wrapper_wide {
position: relative;
width: 826px;
}
.footer-small .logo {
position: absolute;
left: 0;
top: 0;
}
.footer-small .service {
padding-left: 70px;
padding-top: 3px;
}
.footer-small .copyright {
margin: 0;
padding-top: 5px;
padding-left: 70px;
float: none;
color: #878787;
}
.bottom-text {
font: 1.166em Helvetica,Arial,sans-serif;
color: #333;
background: #fff;
}
.bottom-text .content_wrapper {
width: 800px;
padding-top: 10px;
padding-bottom: 20px;
}
.bottom-text h2 {
font-size: 1.5em;
font-weight: normal;
color: #747474;
padding: 18px 0 18px;
}
.bottom-text h2 b, .bottom-text h2 strong {
font-weight: bold;
}
.bottom-text h3 {
font-size: 1em;
font-weight: bold;
padding: 10px 0 0;
}
.bottom-text p {
padding: 0 0 8px;
}
.bottom-text a {
color: #020568;
}
.bottom-text a:hover {
text-decoration: none;
}
.account_removed {
padding: 30px 0 50px;
width: 400px;
margin: 0 auto;
line-height: 1.5em;
}
.account_removed img {
float: left;
margin: 7px 20px 0 0;
}
.account_removed h3 {
padding: 0 0 5px;
}
.products {
background: url(/img/promo2010/products-background-shadow.png) 50% 100% no-repeat;
padding-bottom: 53px;
}
.products h1 {
height: 70px;
padding: 16px 0 0;
text-align: center;
font: 2.66em Helvetica, Arial, sans-serif;
font-weight: normal;
}
.products .content_wrapper {
width: 858px;
}
.heading-over-content .header-whitespace {
height: 0;
}
.heading-over-content .products .content_wrapper {
padding-top: 50px;
}
.heading-over-content #main {
height: 0;
}
.products .products-list {
background: url(/img/promo2010/products-background-ie.png) 0 0 repeat;
background: rgba(0,0,0,0.18);
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
border-radius: 11px;
padding: 9px;
}
* html .products .products-list {
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo2010/products-background-ie.png, sizingMethod=scale);
zoom: 1;
}
.products-list .background {
background: #fff;
width: 100%;
position: relative;
}
.products-list table {
width: 100%;
font: 1.5em Helvetica, Arial, sans-serif;
color: #666;
border: 1px solid #E0E0E0;
}
.products-list td a,
.products .products-list td a,
.tour .products-list td a,
.subscribe .products-list td a {
color: #666;
}
.products-list h2 {
font-size: 1.44em;
color: #434343;
}
.products-list th,
.products-list td {
vertical-align: middle;
text-align: center;
border-left: 1px solid #E5E5E5;
border-top: 1px solid #E5E5E5;
text-align: center;
background: #F3F3F3;
}
.products-list th {
font-weight: bold;
color: #494949;
border-top: 0;
padding: 2px 5px 0;
}
.products-list th.title-business {
vertical-align: top;
padding: 18px 5px 5px;
}
.products-list th.title-business h2 {
color: #F26522;
}
.products-list th.title-premium {
vertical-align: top;
color: #CE8C35;
padding: 19px 5px 7px;
}
.products-list th.title-premium h2 {
color: #CE8C35;
}
.products-list th p {
font-weight: normal;
color: #333;
}
.products-list td {
padding: 8px 5px 9px;
}
.products-list td.label,
.products-list th.label {
border-left: 0;
text-align: left;
font-size: 0.666em;
background: #fff;
padding-left: 19px;
padding-right: 19px;
}
.products-list td.inner_col,
.products-list th.title-premium,
.products-list td.center_col,
.products-list th.title-business {
background: #FDFBDF;
color: #664949;
font-weight: bold;
}
.products-list td.inner_col a,
.products-list td.center_col a {
color: #664949;
}
.products-list .buttons td {
padding: 19px 5px 17px;
}
.products-list .button {
display: inline-block;
border: 0;
padding: 0;
margin: 0;
background: url(/img/promo2010/products-buttons.png) 0 0 no-repeat;
width: 88px;
height: 34px;
overflow: hidden;
cursor: pointer;
}
.products-list td.outter_col .button {
background-position: 0  -34px;
}
.products-list .button-renew {
background-position: 0 -68px;
}
.products-list td.outter_col .button-renew {
background-position: 0 -102px;
}
.products-list .button-upgrade {
background-position: 0 -136px;
}
.products-list td.outter_col .button-upgrade {
background-position: 0 -170px;
}
.products-list .button-renew-later {
width: 119px;
}
.products-list td.outter_col .button-renew-later {
background: url(/img/promo2010/products-buttons-renew.png) 0 0 no-repeat;
}
.tour .products-list table {
font-size: 1.285em;
}