<div id="header">
  <div class="content_wrapper_wide">
    <ul class="menu">
      <li><a>Zarejestruj</a></li>
      <li class="sign-in"><a><span>Zaloguj</span></a></li>
    </ul>
  </div>
</div>

<h2>Zaplanuj niezapomnianą wycieczkę</h2>

<h3><%= link_to("Trips", {:controller => 'trips', :action => 'index'}) %></h3>

<h3><%= link_to("Users", {:controller => 'users', :action => 'index'}) %></h3>

