<li>
  <%= link_to place.name, place %>
  <% if @search %>
  - place
  <% end %>
  <% if (current_user.admin || !@search) %>
  | <%= link_to "delete", place,  :method => :delete,
                                :data => { :confirm => "You sure?" },
                                :title => "Delete #{place.name}" %>
  <% end %>
  <% if place.user_id == current_user.id && !@search %>
  | <%= link_to "edit", edit_place_path(place) %>
  <% end %>
</li>

