<nav class="round menu">
  <ul>
  	<% if current_user.admin? %>
      <%= render 'layouts/admin' %>    
    <% else %>    
      <%= render 'layouts/user' %>     
    <% end %>
		<li><%= link_to "Search", search_path %></li>
  </ul>
</nav>

