<li><%= link_to "Home", root_path %></li>
<li><%= link_to "My Settings", edit_user_path(current_user) %></li>
<li><%= link_to "My Trips", trips_path %></li>
<li><%= link_to "My Places", places_path %></li>
